@charset "utf-8";

header {
    padding:18px;
    background-color: aqua;
}

.btn{
    display:inline-block; 
    min-width: 100px;
    padding: 0px 20px 0px 20px;
    margin-right:10px;
    text-align: center;
    color: white;
    line-height: 36px;
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
    font-size: 150%;

}

a{
    text-decoration: none;
}
.login{
    text-align: right;
    font-size:30px;
    color: white;
}
.back{
    font-size:23px;
    text-decoration: none;
}


.main{
    margin:30px;

}

.btn2{
    display:inline-block; 
    min-width: 75px;
    padding: 0px 10px 0px 10px;
    margin-right:10px;
    text-align: center;
    color: white;
    line-height: 36px;
    text-decoration: none;
    background-color: teal;
    border-radius: 10px;
    font-size: 75%;

}

.btn3{
    display:inline-block; 
    min-width: 75px;
    padding: 0px 10px 0px 10px;
    margin-right:10px;
    text-align: center;
    color: white;
    line-height: 36px;
    text-decoration: none;
    background-color: red;
    border-radius: 10px;
    font-size: 75%;

}

.contents{
    min-width: 100px;
    padding: 15px 40px 0px 30px;
    text-align: left;
    line-height: 60px;
    text-decoration: none;
    font-size: 25px;
}