@charset "utf-8";

header {
    padding:18px;
    background-color: tomato;
}

.btn{
    display:inline-block; 
    min-width: 100px;
    padding: 0px 20px 0px 20px;
    margin-right:10px;
    text-align: center;
    color: white;
    line-height: 36px;
    text-decoration: none;
    background-color: teal;
    border-radius: 10px;
    font-size: 150%;

}

.login{
    text-align: right;
    font-size:30px;
    text-decoration: none;
}

.back{
    font-size:23px;
    text-decoration: none;
}


.main{
    margin:30px;

}
a{
    text-decoration: none;
}