.container {
    color: gray;
}

.login-header, .register-header{
    text-align: right;
}

.nav-auth{
    color: gray;
    font-size: 25px;
}

.text-center {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.text-md-end {
    font-size: 30px;
}

.login-btn,.register-btn {
    display: inline-block;
    background-color: #F26B4A;
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    width: 260px;
    height:60px;
    border-radius: 0%;
    line-height: 1.2;
}

.common_header{
    background-color: #F26B4A;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    padding-left: 50px;
}

.header-menu {
    display: flex;
}

.header-item{
    background-color: #149397;
    margin-right: 15px;
    margin-top: 25px;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    width: 150px;

}

li{
    list-style: none;
}

 .nav-page-link{
    color: #ffffff;
} 

a {
    text-decoration:none; 
    color: black;
}

#jikanwari{
    font-size: 27px;
}
 
#shintyoku{
    font-size: 27px;
}

.settei {
    font-size: 18px;
    padding-top: 6px;
}

.header-login{
    margin-left: auto;
    padding-right: 70px;
}

.nav-link {
    font-size: 25px;
    padding-top: 25px;
    color: black;
}

.banner {
    text-align: center;
    margin-top: 50px;
}

.default-banner{
    text-align: center;
    margin-top: 50px;
}

.articles{
    font-size: 35px;
    margin-top: 30px;
    text-align: left;
    color: black;
}

.articles-box{
    border-style: solid;
    border-radius: 20px;
}

.table-row{
    color: black;
    font-size: 17px;
}

.table-data{
    padding: 5px;
}

.article-title{
    padding-left: 80px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.banner-buttons button {
    border: none;
    background-color: gray; 
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
    margin: 5px;
    cursor: pointer;
}

.back-top{
    font-size: 30px;
    margin-right: auto;
}

.video-clear-btn{
    display: flex;
    align-items: center;
}

.clear-btn{
    margin-left: 20%;
}

.btn-clear{
    width: 300px;
    height: 80px;
    color: #ffffff;
    font-size: 30px;
    background-color: #F26B4A;
    border-radius: 20px;
}

.btn-clear:disabled {
    background-color: #dddddd; 
}


.class-display{
    background-color: #89E5F5;
    color: #ffffff;
    font-size: 20px;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
}

.curriculums-title{
    font-size: 40px;
    margin-top: 5px;
}

.curriculums-description{
    font-size: 20px;
    justify-content: center;
    margin-right: 40px;
}

.disabled-video {
    pointer-events: none;
    opacity: 0.5;
}